
api-modules/FactionsM/FactionsM\.iml

api-modules/FactionsOne/FactionsOne\.iml

api-modules/FactionsUUID/FactionsUUID\.iml

api-modules/LegacyFactions/LegacyFactions\.iml

EpicBosses\.iml

plugin-modules/Core/Core\.iml

plugin-modules/FactionHelper/FactionHelper\.iml

\.idea/libraries/Maven__com_massivecraft_Factions_LATEST\.xml

\.idea/libraries/Maven__com_massivecraft_FactionsOne_LATEST\.xml

\.idea/libraries/Maven__com_massivecraft_FactionsUUID_LATEST\.xml

\.idea/libraries/Maven__com_massivecraft_LegacyFactions_LATEST\.xml

\.idea/libraries/Maven__com_massivecraft_MassiveCore_LATEST\.xml

\.idea/libraries/Maven__com_sk89q_worldedit_LATEST\.xml

\.idea/libraries/Maven__com_sk89q_worldguard_6_2_2\.xml

\.idea/libraries/Maven__com_wasteofplastic_askyblock_3_0_6_8\.xml

\.idea/libraries/Maven__net_milkbowl_vault_LATEST\.xml

\.idea/libraries/Maven__org_bstats_bstats_bukkit_1_2\.xml

\.idea/libraries/Maven__org_projectlombok_lombok_1_16_22\.xml

\.idea/libraries/Maven__org_spigotmc_spigot_1_13_2\.xml

\.idea/workspace\.xml
